doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title TwigExcelBundle

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 TwigExcelBundle
        h3 Mewes Kochheim

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Pure PhpExcel
        pre
          code.language-javascript.
            $objPHPExcel = new PHPExcel();
            $objPHPExcel->setActiveSheetIndex(0);
            $objPHPExcel->getActiveSheet()->setTitle('Worksheet');
            $objPHPExcel->getActiveSheet()->getStyle('A1')->getFont()->setSize(18);
            $objPHPExcel->getActiveSheet()->setCellValue('A1', 'Values');
            for ($i = 0; $i < count($data); $i++) {
              $objPHPExcel->getActiveSheet()->SetCellValue('B' . $i, $data[i]);
            }
            $objWriter = new PHPExcel_Writer_Excel2007($objPHPExcel);
            $objWriter->save(str_replace('.php', '.xlsx', __FILE__));

      section
        h3 So how do we integrate this mess into our Symfony project?

      section
        h3 We could put it in our controller.
        h4 But that way we lose our controller/view separation.

      section
        h3 So how do we integrate this mess into our view layer?

      section
        h3 We could use PHP as our templating language.
        h4 But that way our view layer isn't as clean and secure.

      section
        h3 So why don't we extend Twig to support Excel creation?
        h4 I know - crazy!

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Twigified PhpExcel
        pre
          code.language-javascript.
            {% xlsdocument %}
              {% xlssheet 'Worksheet' %}
                {% xlsrow %}
                  {% xlscell { style: { font: { size: '18' } } } %}Values{% endxlscell %}
                {% endxlsrow %}
                {% for value in data %}
                  {% xlsrow %}
                    {% xlscell %}{{ value }}{% endxlscell %}
                  {% endxlsrow %}
                {% endfor %}
              {% endxlssheet %}
            {% endxlsdocument %}

      section
        h3 Benefits
        ul
          li Pure Twig (10 custom tags, over 100 properties)
          li Built-in caching
          li Supports creation of XLS, XLSX, CSV and PDF files
          li Smooth Symfony integration
          li Configurable with @Route and @Template
          li Controller actions can be reused

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Controller example
        pre
          code.language-javascript.
            class HelloController
            {
              /**
               * @Route("/hello.{_format}", defaults={"_format"="xls"}, requirements={"_format"="csv|xls|xlsx"})
               * @Template("AcmeHelloBundle:Hello:index.xls.twig")
               */
              public function indexAction($name)
              {
                return array('data' => array('La', 'Le', 'Lu'));
              }
            }

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Footer / Header example
        ul
          li No more messing around with &L, &C and &R
        pre
          code.language-javascript.
            {% xlsheader %}
              {% xlsleft %}Left part{% endxlsleft %}
              {% xlscenter %}Center part{% endxlscenter %}
              {% xlsright %}Right part{% endxlsright %}
            {% endxlsheader %}

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Drawing example
        ul
          li Can be used in headers / footers
        pre
          code.language-javascript.
            {% xlsdrawing '/test.png' {
              description: 'Test',
              offsetX: 10,
              offsetY: 10
            } %}

      section
        h2 That's it!
        ul
          li Get it on Packagist
            ul
              li https://packagist.org/packages/mewesk/twig-excel-bundle
          li Fork it on GitHub
            ul
              li https://github.com/MewesK/TwigExcelBundle
          li
            b Questions?
          li
            b Thanks for listening!

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Bonus: How it works
        img(src= "images/twig_structure_row.png")
        pre
          code.language-javascript.
            ->write('$rowIndex = ')->subcompile($this->getNode('index'))->raw(';'.PHP_EOL)
            ->write('$phpExcel->startRow($rowIndex);'.PHP_EOL)
            ->subcompile($this->getNode('body'))
            ->write('$phpExcel->endRow();'.PHP_EOL);

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h3 Bonus: How it works
        img(src= "images/twig_structure_cell.png")
        pre
          code.language-javascript.
            ->write('$cellIndex = ')->subcompile($this->getNode('index'))->raw(';'.PHP_EOL)
            ->write("ob_start();\n")
            ->subcompile($this->getNode('body'))
            ->write('$cellValue = trim(ob_get_clean());'.PHP_EOL)
            ->write('$cellProperties = ')->subcompile($this->getNode('properties'))->raw(';'.PHP_EOL)
            ->write('$phpExcel->startCell($cellIndex, $cellValue, $cellProperties);'.PHP_EOL)
            ->write('$phpExcel->endCell();'.PHP_EOL);

      section
        h2 That's it! Really!
        ul
          li Get it on Packagist
            ul
              li https://packagist.org/packages/mewesk/twig-excel-bundle
          li Fork it on GitHub
            ul
              li https://github.com/MewesK/TwigExcelBundle
          li
            b Thanks for listening!

    script(src='build/build.js')